* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";

}


main {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  overflow-x:hidden;

}

header {
  display: flex;
  justify-content: space-between;
  display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    background: #c2fbd7;
    color: #333;
    padding: 0px 1rem;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 2px 0
}

header a {
  text-decoration: none;
  color: inherit;

}

header a.logo {
  font-weight: bold;
  font-size:2rem;
}

header nav {
  display: flex;
 
  width:30%;
  justify-content:space-between;
  padding:10px 14px;
  
  
}

.loginlink{
  border:none !important;
  padding: 1rem !important;
    width: 100px;
  box-shadow: inset 0 0 0 0 #f8f8f87a;
  color: black;
  border-radius:8px;
  border:2px solid;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.loginlink:hover{
  box-shadow: inset 100px 0 0 0 #f8f8f87a;
  color: black;
}
.registerlink{
  border:none !important;
  padding: 1rem !important;
    width: 100px;
  box-shadow: inset 0 0 0 0 #f8f8f87a;
  color: black;
  border-radius:8px;
  border:2px solid;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.registerlink:hover{
  box-shadow: inset 100px 0 0 0 #f8f8f87a;
  color: black;
}
.linknewpost{
  transition: all .3s;
}
.linknewpost:hover{
  transform:scale(1.1);
 text-decoration:underline;
}

div.post {
  display: flex;
padding:1rem;
  justify-content: start;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.img {

  width: 15rem;
  height: 12rem;
  object-fit: cover;
}
.text h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
.text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.text a{
  text-decoration:none;
  color:inherit;
}
.text span{
  color:#8d8888;
}


form.createpost{
  margin-top:2rem;
}

form.login, form.register{
  /* max-width: 400px;
  margin: 0 auto; */
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  width:500px;
  padding-left:16px;
  padding-right:16px;
  gap:10px;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
button{
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border:0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}
form.login h1, form.register h1{
  text-align: center;
}

 .postpage{
  aspect-ratio:5/2;
  margin-top:4rem;
  padding-left:1rem;
  padding-right:1rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
 } 
/* .postpage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}  */

.postpage div.postpage__image{
  overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:300px;
}
.postpage__title{
  text-align:center;
}
.postpage__image img{
  object-fit:cover;
  background-position:center center;
  overflow:hidden;
}
.content{
  padding:10px;
}
.content h2 ,p {
  margin-bottom:12px;
}
.content a {
  color:#f96302 !important;
  text-decoration:none !important;
}

.content img{
  width:100%;
  height:310px;
}


@media screen and (max-width:576px){

  .post{
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:12px 12px;
  }
  img{
 
    padding-left:16px;
    padding-right:16px;
  }

  header nav {
    flex-wrap:wrap;
  gap:12px;
  }
  .notfound{
    flex-direction:column;
  }
  .notfound img{
    width:70vw;

  }
}

@media screen and (max-width:350px){
  p{
    font-size:.68em;

  }
.content img {
    height:250px;
    padding:0px;
   
  }
  .ql-syntax{
    font-size:.5em;
  }
  
}

.linkwrapper{
  background: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 120px;
  margin: 0 auto;
 
  margin-top: 10px;
  transition: all 0.3s ease;
}
.linkwrapper:hover{
  background: #100f0f;
}

.linkwrapper .link{
 text-decoration:none;
 color:black;
}
.linkwrapper .link:hover{
  color:white;
}
